* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    color: #5a5a5a;
    background-color: #ffffff;
    text-rendering: optimizeLegibility;
}

body {
    min-width: 960px;
}

.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}

.header p,
.right p,
h3 {
    text-transform: uppercase;
}


/*                           header                                      */

.header {
    margin-top: 40px;
    margin: 0px auto;
}

.header p {
    font-size: 24px;
    text-align: center;
}

.header .about-picture img {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 30px;
}


/*                      section                          */

.section1 {
    margin: 30px auto;
}

.section1 .about-picture1 img {
    width: 90%;
    margin-left: 5%;
}


/*                           section2                              */

.section2 {
    margin-top: 20px;
}

.right {
    width: 70%;
    margin-left: 10%;
    float: left;
}

.right p {
    font-size: 24px;
    font-weight: bold;
}

input[type=text] {
    width: 45%;
    height: 30px;
}

input[type=submit] {
    color: white;
    background-color: black;
    width: 3%;
    height: 30px;
}

.right .iconss {
    margin: 15px 20px;
    list-style: none;
}

.right .iconss li {
    display: inline-block;
    font-size: 200%;
    margin-left: 10px;
    color: black;
}

.left {
    width: 15%;
    float: left;
}

h3 {
    font-weight: bold;
    font-size: 24px;
}

.left ul {
    list-style: none;
}

.left ul li {
    font-size: 18px;
}

.button {
    line-height: 60px;
    text-align: center;
    font-size: 18px;
}